body.login{
    background-image: url('pictures/login-background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    font-family: 'Nanum Gothic', sans-serif;
}


/* =======================Login================================ */
container.login{
    margin: 5em;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.login{
    margin-left:3em;
    width:85%;
    background-color: #44444C;
    padding: 1.5em;
    height: 500px;
    color: #D6D6D6;
}

form.login{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

h6{
    margin-top: 1.5em;
}
label, input{
    margin:2px;
}

.btn{
    width: 48%;
    
}

p.error{
    color: rgb(146, 56, 56);
    font-size: small;
}

div.btns{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.slogan{
    margin-top:5em;
}

.copy{
    margin-top: 3em;
    font-size: x-small;
}


/* =======================Register================================ */
div.register{
    width:100%;
    background-color: #44444C;
    padding: 1.5em;
    height: 100%;
    color: #D6D6D6;
}

form.register{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    width: 100%;
}

.lastName{
    margin-left:27%;
}

button.register{
    align-self: flex-end;
    margin-top: 1em;
}

div.gender{
    margin-top: 0.5em;
    display: flex;
    justify-content: space-evenly;
}

input[type='radio']:checked{
    background-color: #8C8C8C;
    border: 2px solid white;
    outline:none;
}

div.upload {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#file {
    display: none;
}

#picture {
    width:100px;
    height:100px;
    align-self: center;
    border-radius: 100%;
    border-color: #D6D6D6;
    background-color: #D6D6D6;
}


/*=========================home page===============================*/
body.homepage{
    background-color: #D6D6D6;
    font-family: 'Nanum Gothic', sans-serif;
}

container.home{
    display: flex;
    justify-content: space-around;
}

nav.header{
    background-image: url('pictures/login-background.jpg');
}

a.header{
    color: #808080;
    
}

.left,.right, .center{
    margin: 2em;
    width:25%;
    height: 85vh;
}

.infoPic{
    height:100px;
    width:100px;
    border-radius: 50%;
    margin-bottom: 0.5em;
}

.info{
    background-color: #808080;
    background-color: #808080;
    border-radius: 10px;
    border:5px solid #44444C;
    padding: 1.5em;
}

.center{
    flex: 2;
}

.edit{
    float:right;
    height: 20px;
    width:20px;
}

.delete{
    margin-top: 1em;
    background-color: #44444C;
    color: #D6D6D6;
}

.delete:hover{
    background-color: #1b1b1b;
    color: #D6D6D6;
}
.info-form{
    display: flex;
    flex-direction: column;
}

.rizzler-pic{
    margin: 1.5em;
    width: 60%;
    height: 60vh;
    border: 5px solid #44444C;
    border-radius: 5px;
}

div.profile{
    text-align: center;
    background-color: #808080;
    border-radius: 10px;
    border:5px solid #44444C

}
.left-swipe, .right-swipe{
    width: 5%;
}
.matchless{
    margin-bottom: 120px;
    padding-bottom: 20px;
}

hr{
    width: 75%;
    margin: auto;
}

.profile-info{
    padding: 1em;
}

.right{
    overflow-y: scroll;
    background-color: #808080;
    border:5px solid #44444C;
    text-align: center;
    border-radius: 5px;
}

.messages-header{
    background-color: #44444C;
    color:#D6D6D6;
    padding:0.6em;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
    
::-webkit-scrollbar-track {
border: 1px solid #44444C;
}

::-webkit-scrollbar-thumb {
background: #44444C;  
}

::-webkit-scrollbar-thumb:hover {
background: #44444C;  
}

.match{
    display: flex;
    background: radial-gradient(#8C8C8C,#44444C);
    padding-left: 2em;
}

.message-pic{
    height:50px;
    width: 50px;
    border-radius: 50%;
    margin: 0.7em;
}

.messages-div{
    height: 250px;
    border: 1px solid red;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    overflow-y: scroll;
}

.messagebox{
   /* position:fixed; */
    width:24vw;
    display: flex;
    
   /* border-radius: 10%; */
}

textarea.message{
    width:100%;
    flex: 2;
}

button.message{
    height:100%;
    justify-self: flex-end;
}

.left-message{
    align-self: flex-start;
    background-color: darkgray;
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 10px;
}

.right-message{
    align-self: flex-end;
    background-color: rgb(214, 218, 218);
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
}